:root {
  --planks-gap: 30px;
}

$z-main: 50;
$z-select: 2000;
$z-nav: 3000;
$z-header: 4000;
$z-other: 5000;
$z-modal-backdrop: 7999;
$z-modal: 8000;
$z-notification: 9000;

$shadow: 0px 5px 30px rgba(0, 0, 0, 0.03);
$widget-image-height: 210px;
$planks-gap: var(--planks-gap);